.table-array{
    width: 450px;
}
.table-array-one{
    width: 200px;
}
.table-array-two{
    width: 100px;
}
.table-array-three{
    width:50px;
}
body {
    background-color:red;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
    background-color: blue;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: lightblue;
}
